.bundle
db/*.sqlite3*
db/schema.rb
db/schema.sql
log/*.log
log/*.log.*
tmp/
*.lck
*.swp
*.~lock.*
*~
DS_Store
.DS_Store
vendor/bundle
.sass-cache/
public/system
public/roku/feed.xml
public/feeds/
public/index.html
public/podcast.rss
.rbenv-version
mizuno*.gem
